<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  
  <ion-list class="about-list">
    <ion-list-header>
      <ion-label>Meet the Owner</ion-label>
    </ion-list-header>
    
    <ion-item lines="none" class="owner-item">
      
      <div class="owner-content-wrapper">

        <div class="image-wrapper">
          <ion-img 
            [src]="ownerImageUrl" 
            alt="Bakeshop Owner" 
            class="owner-image"
          ></ion-img>
        </div>

        <p class="owner-name">{{ ownerFullName }}</p>

      </div> 
      </ion-item>
  </ion-list>

  <ion-list class="about-list" inset="true">
    <ion-list-header>
      <ion-label>Origin of the Ricookies Bake Shop</ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <p class="origin-text">{{ originStory }}</p>
    </ion-item>
  </ion-list>

  <ion-list class="about-list" inset="true">
    <ion-list-header>
      <ion-label>Our Location</ion-label>
    </ion-list-header>
    
    <ion-item lines="none">
      <p class="location-address">{{ locationAddress }}</p>
    </ion-item>

    <div class="map-iframe-container">
      <iframe
        [src]="embedMapUrl | safeUrl"
        width="100%"
        height="300"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    
    <ion-item button="true" (click)="openLink(locationMapUrl)" lines="full" class="link-item">
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <ion-label>View on Google Maps</ion-label>
    </ion-item>
    
    <ion-item button="true" (click)="openLink(facebookUrl)" lines="none" class="link-item">
      <ion-img 
        src="assets/pictures/fb logo.png" 
        alt="Facebook Logo" 
        class="ricookies-fb-logo"
      ></ion-img>
      <ion-label>Ricookies Page!</ion-label>
    </ion-item>
  </ion-list>

</ion-content>