// Define the color for the toolbar text and icons
$dark-toolbar-text: #000000; 

ion-toolbar {
    --background: #D2B48C; // A light bakeshop brown
    
    // FIX 1: Set the title text color
    color: #{$dark-toolbar-text};

    ion-menu-button {
        // FIX 2: Set the menu icon color
        --color: #{$dark-toolbar-text};
    }
}

/* Background Image Styles */
ion-content {
  --background: url('https://i.imgur.com/ValN9Hw.gif') no-repeat center center / cover;
}

@media (prefers-color-scheme: dark) {
  ion-content {
    --background: url('https://i.imgur.com/ValN9Hw.gif') no-repeat center center / cover;
  }
}

/* Styles for the "Welcome" text container */
.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  color: #dddddd;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.container h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.container p {
  font-size: 1.2em;
  margin-bottom: 20px;
}
